<!-- ======= Footer ======= -->
<footer id="footer" class="footer">

    <div class="footer-content">
        <div class="container">

            <div class="row g-4">
                <div class="col-lg-4">
                    <h3 class="footer-heading">О ZenBlog</h3>
                    <p>Современный блог на Blazor Server с EF Core и SQLite. Создавайте, редактируйте и публикуйте посты легко и быстро.</p>
                    <p><NavLink href="/posts" class="footer-link-more">Все посты</NavLink></p>
                </div>
                <div class="col-6 col-lg-3">
                    <h3 class="footer-heading">Навигация</h3>
                    <ul class="footer-links list-unstyled">
                        <li><NavLink href="/"><i class="bi bi-chevron-right"></i> Главная</NavLink></li>
                        <li><NavLink href="/posts"><i class="bi bi-chevron-right"></i> Посты</NavLink></li>
                        <li><NavLink href="/admin/posts"><i class="bi bi-chevron-right"></i> Админка</NavLink></li>
                        <li><NavLink href="/admin/posts/new"><i class="bi bi-chevron-right"></i> Новый пост</NavLink></li>
                    </ul>
                </div>
                <div class="col-6 col-lg-5">
                    <h3 class="footer-heading">Контакты</h3>
                    <div class="social-links mb-3">
                        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-legal py-3">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-md-6 text-center text-md-start mb-2 mb-md-0">
                    <div class="copyright">
                        © 2025 <strong><span>ZenBlog</span></strong>. Все права защищены
                    </div>
                </div>

                <div class="col-md-6 text-center text-md-end">
                    <div class="credits">
                        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
                    </div>
                </div>
            </div>

        </div>
    </div>

</footer>